<html lang="en">
  <head>
    <title>Email Verification</title>
  </head>
  <body>
    <h1 style="background-color: bisque;">Halo {{username}}</h1>
    <h2>Welcome to Wonder Blog</h2>
    <a href={{link}}>

      <button>Verify</button>

    </a>
  </body>
</html>